<nav class="navbar">
  <span>
  <h3 class="masthead-title">
    <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
    <small>{{ site.tagline }}</small>
  </h3>
    <span style="display: block;">
    <a class="fab fa-vimeo" href="{{ site.socials.vimeo }}"></a>
    <a class="fab fa-linkedin" href="{{ site.socials.linkedin }}"></a>
    <a class="fab fa-github" href="{{ site.socials.github }}"></a>
    <a class="fab fa-instagram" href="{{ site.socials.insta }}"></a>
    </span>
  </span>

  <span>
  <a href="{{ site.baseurl }}/" class="navlink">Blog</a>
  <a href="{{ site.baseurl }}/snippets" class="navlink">Snippets</a>
  <a href="{{ site.baseurl }}/projects" class="navlink">Projects</a>
  <!-- <a href="{{ site.baseurl }}/work" class="navlink">Work</a> -->
  <a href="{{ site.baseurl }}/links" class="navlink">Links</a>
  <a href="{{ site.baseurl }}/about" class="navlink">About</a>
  </span>
</nav>