// Base classes
:root {
    --color: #3c3163;
    --transition-time: 0.5s;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: $nord6;
    transition: 0.3s;
    border-radius: 8px;
    margin-bottom: 1rem;
    &:hover {
        box-shadow: 0, 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

a:hover {
    text-decoration: none;
}

// Snippets
.snippets-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;

    .card {
        display: flex;
        flex-flow: column;
        align-content: left;
        flex: 1 0 auto;
        padding: 1rem;
        width: 100%;
    }

    .filename {
        font-family: $code-font-family;
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        display: block;
    }

    .desc {
        font-style: italic;
        font-size: 0.75rem;
    }
}

// Blog Posts
.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0.5em;
        overflow: hidden;
        border-radius: 8px;
        z-index: 1;

        .thumbnail-wrap {
            position: relative;
        }

        .thumbnail {
            height: 250px;
            object-fit: cover;
            width: 100%;
            display: block;
            margin: unset;
            border-radius: unset;
        }

        .content {
            flex: 1;
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
        }

        .date {
            font-size: 0.75em;
            line-height: 1em;
            opacity: .8;
            color: $nord1;
            margin-block-start: auto;
        }

        a {
            color: inherit;
        }

        h2 {
            display: inline-block;
            font-weight: 600;
            font-size: 1.25rem;
            color: $title-color;
            opacity: 1.0;
            margin-top: unset;
            &:hover {
                opacity: 0.66;
            }
        }

        .desc {
            display: inline-block;
            font-style: italic;
            color: $nord9;
            font-size: 0.75rem;
            margin: 0 0 1.5rem;
        }

        .tags {

            display: flex;
            margin: 0 0 0.5rem;
            justify-content: flex-start;
            flex-flow: row wrap;

            font-size: 0.75rem;
            color: $nord13;
            // text-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);

            .tag {
                margin: 0 0.1rem;
            }
        }
    }
}

// Links
.links-container {
    display: flex;
    flex-flow: row wrap;

    .card {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 0.5rem;
        width: 250px;
        flex: 1 0 auto;
    }

    .content {
        display: block;
        text-align: left;
        flex: 1 1 auto;
        width: 100%;
        padding: 1rem;
    }

    .title {
        color: $title-color;
        font-weight: 600;
        font-size: 1rem;
    }

    .desc {
        font-size: 0.75rem;
        display: inline-block;
    }
}

// Work Projects
.work-container, .projects-container{
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;

    .card {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    @media screen and (max-width: 900px) {
        .card {
            flex-direction: column-reverse;
        }
    }

    .content {
        display: inline-block;
        flex: 1 1 auto;
        text-align: left;
        width: 100%;
        padding: 1rem;
    }

    .brand, .name {
        // display: block;
        font-size: 1rem;
        margin: 0rem;
        font-weight: 600;
        color: $title-color;
    }

    .name {
        font-size: 0.9rem;
    }

    .studio {
        display: block;
        font-size: 0.75rem;
        font-style: italic;
    }

    .video, .image {
        width: 100%;
        max-width: 550px;
        align-self: center;
        margin: 0;
        border-radius: 0;
    }

    .responsibilities-title {
        font-size: 0.8rem;
        font-weight: 600;
        color: $title-color;
        padding: 0.2rem;
    }

    .responsibility-list {
        display: flex;
        flex-flow: column;
    }

    .responsibility-item {
        font-size: 0.65rem;
    }

    .desc {
        display: block;
        font-size: 0.75rem;
    }
}
