.video-container {
    // aspect-ratio: 16 / 9;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    // padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}

.vimeo-container {
    @extend .video-container;
}

.youtube-container {
    @extend .video-container;
}

.vp-center {
    justify-content: unset;
}